main {
    background-image: url(../img/esparragos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form-control:focus, .form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #198754;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    background-color: rgba(158, 185, 69, 0.9);
    padding: 15px;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: rgba(158, 185, 69, 0.6);
  color: var(--bs-table-hover-color);
}

.navbar-text {
    font-size: large;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.page-item.active .page-link {
background-color: #198754;
border-color: #198754;
}

.page-link {
    color: #198754;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

a {
    color: #198754;
}
